#about {
	display:block;
	padding-bottom: 50px;
	text-align:center;

	.main-about {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width:85%;

		h2 {
			content: url('../images/about_hdr.png');
		}
	}

	.about-bride {
		padding:0 20px;

		h2 {
			content: url('../images/katrina_hdr.png');
		}
	}

	.about-groom {
		padding:0 20px;

		h2 {
			content: url('../images/jd_hdr.png');
		}
	}

	p {
		padding-bottom: 30px;
	}

	@media (max-width: 600px) {
		// mobile styles
	}
}