#about {
	display:block;
	text-align:center;

	.main-about {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width:85%;

		h2 {
			background-image: url('../images/about_hdr.png');
		}
	}

	.main-image {
		background-image: url('../images/main.jpg');
		background-size: cover;
		background-position: center bottom;
		height: 720px;
		width: 100%;
	}

	.about-bride {
		padding:0 20px;

		h2 {
			background-image: url('../images/katrina_hdr.png');
		}
	}

	.about-groom {
		padding:0 20px;

		h2 {
			background-image: url('../images/jd_hdr.png');
		}
	}

	@media (min-width: 601px) and (max-width: 1200px) {
		// mini-desktop styles
		.main-image {
			height: 500px;
		}

		margin-top: -20px;
	}

	@media (max-width: 600px) {
		// mobile styles
		.main-image {
			height: 300px;
		}
	}
}