#about {
	display:block;
	text-align:center;

	.main-about {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width:70%;
	}

	.main-image {
		background-image: url('../images/main.jpg');
		background-size: cover;
		background-position: center bottom;
		height: 720px;
		width: 100%;
	}

	.about-bride {
		padding:0 20px;
	}

	.about-groom {
		padding:0 20px;
	}

	margin-top: -20px;

	@media (min-width: 601px) and (max-width: 1200px) {
		// mini-desktop styles
		.main-image {
			height: 500px;
		}

		margin-top: -30px;
	}

	@media (max-width: 600px) {
		// mobile styles
		.main-image {
			height: 400px;
		}
		margin-top: -20px;
	}
}