@font-face {
	font-family: 'Voyage';
	src: url('../fonts/Voyage.eot') format('eot'), 
	     url('../fonts/Voyage.otf')  format('opentype'),
	     url('../fonts/Voyage.woff') format('woff'), 
	     url('../fonts/Voyage.ttf')  format('truetype'),
	     url('../fonts/Voyage.svg#Voyage') format('svg');
}

@mixin voyageFont() {
	font-family: 'Voyage', serif;
}