@mixin shadowed($top, $left, $blur, $color){ 
	-webkit-filter: drop-shadow($top $left $blur $color);
	filter: url(#drop-shadow);
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX="+$left+", OffY="+$top+", Color='"+$color+"')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX="+$left+", OffY="+$top+", Color='"+$color+"')";
}

