@mixin shadowed($top, $left, $blur, $color){ 
	-webkit-filter: drop-shadow($top $left $blur $color);
	//filter: url(#drop-shadow);
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX="+$left+", OffY="+$top+", Color='"+$color+"')";
    //filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX="+$left+", OffY="+$top+", Color='"+$color+"')";
}

@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

