$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'helpers';
@import 'nav';
@import 'about';
@import 'proposal';
@import 'photos';
@import 'wedding';
@import 'registry';
@import 'rsvp';
@import 'comments';

$mediumGray: #8f8f8f;

body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    color: $mediumGray;

}

section {
    display:block;
    margin-top: 30px;
    margin-bottom: 50px;
}

h2 {
    padding-top:30px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

hr {
    color:#333;
    width:70%;
    padding-top: 10px;
    text-align: center;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;

    .toast {
        &:after {
            color: #999;
            background: #fff;
            display: inline-block; 
            content: url('../images/icons/toast.png');
        }
    }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    display: block;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
