$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'fonts';
@import 'helpers';
@import 'nav';
@import 'about';
@import 'proposal';
@import 'photos';
@import 'wedding';
@import 'registry';
@import 'rsvp';
@import 'comments';

$mediumGray: #8f8f8f;

.voyage-font {
    @include voyageFont();
}


body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}

p {
    color: $mediumGray;
}

a {
    cursor: pointer;
}

section {
    display:block;
    margin-top: 30px;
    margin-bottom: 50px;
    z-index: 20;
    background:#fff;
}

.main-container {
    background: #fff;
    transition: left 0.4s ease-out;
    -webkit-transition: left 0.4s ease-out;
}

.dark-container {
    background-image: url(http://subtlepatterns.com/patterns/dark_wall.png);
    background-repeat: repeat;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2 {
    padding-top:30px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: "Voyage";
}

button {
    display: inline-block;
    margin: 10px auto;
    -webkit-appearance: button;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    line-height: 30px;
    background-color: #428bca;
    font-family: 'Montserrat', sans-serif;
    border: solid #ccc 1px;
    width: 120px;

    &:hover {
        background-color: #2C74B3;
    }

    span {
        font-weight: normal;
        text-transform: uppercase;
        margin: 0;
        cursor: pointer;
    }
}

hr {
    border-color:#ccc;
    line-height: 1px;
    width:70%;
    padding-top: 10px;
    text-align: center;
    position: relative;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;

    &:after {
        color: #999;
        background: #fff;
        display: inline-block;
        position: absolute;
        left: 50%;

    }

    &.toast:after { 
        content: url('../images/icons/toast.png');
        margin-left: -14px;
        top: -12px;
    }

    &.bride:after { 
        content: url('../images/icons/bride.png');
        margin-left: -14px;
        top: -12px;
    }

    &.groom:after { 
        content: url('../images/icons/groom.png');
        margin-left: -10px;
        top: -7px;
    }

    &.feather:after {
        content: url('../images/icons/feather.png');
        margin-left: -34px;
        top: -23px;
    }
}

.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    display: block;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media (min-width: 769px) and (max-width: 1200px) {

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    section {
        font-size:0.85em;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {

    .main-container {
        position:absolute;
        background: #fff;
        transition: left 0.4s ease-out;
        -webkit-transition: left 0.4s ease-out;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    section {
        font-size:0.8em;
    }

    body {
        padding-top: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 20px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
