$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'helpers';
@import 'nav';
@import 'about';
@import 'proposal';
@import 'photos';
@import 'wedding';
@import 'registry';
@import 'rsvp';
@import 'comments';

$mediumGray: #8f8f8f;

body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    color: $mediumGray;
}

a {
    cursor: pointer;
}

section {
    display:block;
    margin-top: 30px;
    margin-bottom: 50px;
}

h2 {
    padding-top:30px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-position:center bottom;
    background-repeat: no-repeat;
}

hr {
    border-color:#ccc;
    line-height: 1px;
    width:70%;
    padding-top: 10px;
    text-align: center;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;

    &:after {
        color: #999;
        background: #fff;
        display: inline-block;
    }

    &.toast:after { 
        content: url('../images/icons/toast.png');
        margin-top:-50px;
    }

    &.bride:after { 
        content: url('../images/icons/bride.png');
        margin-top:-70px;
    }

    &.groom:after { 
        content: url('../images/icons/groom.png');
        margin-top:-70px;
    }

    &.feather:after {
        content: url('../images/icons/feather.png');
        margin-top:-30px;
    }
}

.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    display: block;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
