
@import 'helpers';

nav {
    height:140px;
    position: fixed;
    background: url('../images/nav_bg.png');
    width:2000px;
    text-transform: uppercase;
    left:50%;
    margin-left: -1000px;
    top: 0;
    color: #000;
    z-index: 1000;
    @include shadowed(0, 0, 3px, #a0a0a0);
    font-size: 0.9em;
    
    .nav li {
        position:absolute;
        float:left;
    }

    .nav li a {
        color: #000;
        margin-top:11px;
    }

    .nav li a:hover {
        color: #333;
        background: transparent;
    }

    p {
        color:#000;
    }

    .about {
        left:50%;
        margin-left: -480px;

        &:active {
            color: #385D7A;
        }
    }

    .photos {
        left:50%;
        margin-left: -220px;
    }

    .proposal {
        left:50%;
        margin-left: -390px;
    }

    .wedding {
        left:50%;
        margin-left: 124px;
    }

    .registry {
        left:50%;
        margin-left: 282px;
    }

    .rsvp {
        left:50%;
        margin-left: 410px;
    }

    .date {
        font-size: 0.92em;
        position: absolute;
        top:87px;
        left:50%;
        margin-left: -58px;
    }

}

@media (max-width: 780px) {
    // mobile styles
    nav {
        display:block;
        height:100%;
        background: #cccccc;
        width:100%;
        overflow: hidden;
        position:relative;
        margin:0;
        @include shadowed(0, 0, 0, #a0a0a0);
        left:0;
        
        .nav ul {
            display:block;
            //min-width:320px;
            position:absolute;
            width:320px;
            background:#999;
            margin-left:-320px;
        }

        .nav li {
            position:static;
            margin:0;
        }

        .nav li a {
            color: #000;
            margin-top:0;
        }

        .about {
            &:active {
                color: #385D7A;
            }
        }
        
        .about,
        .photos,
        .proposal,
        .wedding,
        .registry,
        .rsvp
         {
            left:0;
            margin-left: 10px;
        }
    }
}
