#photos {
	.slideshow-container {
		margin-right:0;
		margin-left:0;
		padding-left:0;
		margin-top:30px;
		display:block;
		position:relative;

		a {
			display: block;
			width: 50px;
			height: 50px;
			background: #333;
			opacity: 0.5;
			border-radius: 50%;
			
			.paddle-left{
				z-index:100;
				position: absolute;
				left:50%;
				margin-left: -200px;
			}

			.paddle-right{
				z-index:200;
				position: absolute;
				left:50%;
				margin-left: 200px;
			}
		}

		ul {
			margin-left:0;
			padding-left:0;
			list-style-type: none;
		}
	}	

	h2 {
		content: url('../images/photos_hdr.png');
	}
}