@import 'helpers';

#photos {
	@include no-select;
	.slideshow-container {
		margin: 30px 0;
		padding: 30px 0 30px;
		position:relative;
		min-height:460px;
		background-image: url(http://subtlepatterns.com/patterns/dark_wall.png);
		background-repeat: repeat;

		a {
			display: block;
			width: 50px;
			height: 50px;
			opacity: 0.5;
			border-radius: 50%;
			cursor: pointer;
			color: #333;
			
			&.paddle-left{
				z-index:100;
				position: absolute;
				top:50%;
				left:0;
				margin-top:-25px;
			}

			&.paddle-right{
				z-index:200;
				position: absolute;
				top:50%;
				right:0;
				margin-top:-25px;
			}

			.glyphicon {
				line-height: 50px;
				margin: 0 auto; 				
				width: 40px;
				height: 40px;
				font-size: 1.3em;
				text-align: center;
				width: 100%;
			}

			&:hover {
				.glyphicon {
					color: #000;
				}
			}
		}

		ul {
			margin:0;
			padding:0;
			list-style-type: none;
			position: relative;
		}

		.slide {
			width: 100%;
			height: auto;
			min-height:400px;
			display:block;
			background-image: url('../images/slideshow/03.jpg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}

		.slideshow-image {
			width:100%;
			display:block;
			position:absolute;
		}
	}	
}