#registry {
	p {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.grid-image {
		display:block;
		width:85%;
		padding: 30px 0;
		margin-left: auto;
		margin-right: auto;
	}

	h2 {
		content: url('../images/registry_hdr.png');
	}
}