#registry {
	p {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.grid-image {
		display:block;
		width:85%;
		padding: 30px 0;
		margin-left: auto;
		margin-right: auto;
	}

	.paypal-btn {
		margin-right: auto;
		margin-left: auto;
		display: block;
	}

	@media (min-width: 1200px){
		.d-btn.d-btn-freetype {
			width: 340px;
		}
	}
}