#registry {
	p {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.grid-image {
		display:block;
		width:70%;
		padding: 30px 0;
		margin-left: auto;
		margin-right: auto;
	}

	.d-btn.d-btn-freetype {
		.d-btn-text {
			font-family: 'Montserrat', sans-serif;
		}
		margin-top:30px;
		margin-bottom:20px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 320px;
	}

	h2 {
		content: url('../images/registry_hdr.png');
	}
}