#rsvp {
	text-align: center;

	.rsvp-form {
		background: #fff;
		padding: 30px 20px;
		margin: 0 auto;
		width: 80%;
		max-width: 500px;
		//text-align: center;

		label {
			//float: left;
			text-align: right;
			margin-right: 15px;
			width: 100px;
		}

		input {
			height: 40px;
			border-radius: 2px;
			color: #3c3c3c;
			letter-spacing: normal;
			word-spacing: normal;
			text-transform: none;
			text-indent: 0px;
			text-shadow: none;
			display: inline-block;
			text-align: center;
			margin: 10px auto;

			&.email {
				width: 250px;
			}

			&.first-name, &.last-name {
				display: inline-block;
			}
		}

		.change-btn {
			margin-right: 20px;
		}

		span {
			display: block;
		}
	}
}                           