@import 'helpers';
@import 'fonts';


#rsvp {
	text-align: center;

	.rsvp-wrapper {
		background: #fff;
		padding: 4px 4px;
		margin: 0 auto;
		width: 80%;
		max-width: 500px;

	}

	.rsvp-form {
		// width: 80%;
		// max-width: 500px;
		display: block;
		margin-right: auto;
		margin-left: auto;
		@include bordered(#c9c9c9);
		width: 100%;
		height: 100%;
		padding: 20px;
		//text-align: center;

		.form-line {
			display: block;
			margin-right: 30px;
			min-width: 300px;
			text-align: right;
		}

		label {
			text-align: right;
			margin-right: 15px;
			min-width: 100px;
			width: 40%;
			text-transform: uppercase;
		}

		.continue-btn {
			float: right;
			margin-right: 30px;
		}

		input {
			height: 40px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;			
			color: #3c3c3c;
			letter-spacing: normal;
			word-spacing: normal;
			text-transform: none;
			text-indent: 0px;
			text-shadow: none;
			display: inline-block;
			text-align: center;
			margin: 10px auto;
			width: 50%;

			&.first-name, &.last-name {
				display: inline-block;
			}

			&.rsvp-code-input {
				text-transform: uppercase;
			}

			&.cannot-attend-checkbox {
				top: 12px;
				position: relative;
			}
		}

		.change-btn {
			margin-right: 20px;
		}

		span {
			display: block;
		}
	}
}                           