@import 'helpers';

#wedding {

	p {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.wedding-map {
		display: block;
		width: 100%;
		padding-top: 0px;
		margin-left: auto;
		margin-right: auto;
	}

	.angular-google-map-container { 
		height: 400px;
		margin: 30px 0; 
	}

	.dark-container {
		background-image: url(http://subtlepatterns.com/patterns/dark_wall.png);
		background-repeat: repeat;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.row {
		display: block;
		height: 100%;
	}

	.hotel {
		display: block;
		min-height: 100%;
		padding: 5px;
		//background: #fff;
		text-align: center;
		border: 10px transparent;

		.hotel-content {
			@include bordered(#c9c9c9);
			padding: 40px 10px;
			background: #fff;
			display: block;
			height:380px;
		}
	}

	h4 {
		font-size: 1.2em;
		text-transform: uppercase;
	}

	@media (max-width: 600px) {
		// mobile styles
		.hotel {
			.hotel-content {
				height: auto;
			}
		}
	}
}