@import 'helpers';

#wedding {

	p {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.wedding-map {
		display: block;
		width: 100%;
		padding-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	.angular-google-map-container { 
		height: 400px;
		margin: 30px 0; 
	}

	.hotel {
		display: block;
		border: solid 1px #ccc;
		margin: 30px auto;
		padding: 20px 10px;
		@include shadowed(0, 0, 3px, #ccc);
		width: 50%;
		background: #fff;
		text-align: center;
	}

	h2 {
		background-image: url('../images/wedding_hdr.png');
	}

	h4 {
		font-size: 1.2em;
		text-transform: uppercase;
	}

	@media (max-width: 600px) {
		// mobile styles
	}
}