#wedding {

	p {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.wedding-map {
		display: block;
		width: 100%;
		padding-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	h2 {
		content: url('../images/wedding_hdr.png');
	}

	@media (max-width: 600px) {
		// mobile styles
	}
}