@import 'helpers';

#wedding {

	p {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.wedding-map {
		display: block;
		width: 100%;
		padding-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	.angular-google-map-container { 
		height: 400px;
		margin: 30px 0; 
	}

	.dark-container {
		background-image: url(http://subtlepatterns.com/patterns/dark_wall.png);
		background-repeat: repeat;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.hotel {
		display: block;
		border: solid 1px #ccc;
		padding: 40px 10px;
		min-height: 100%;
		//@include shadowed(0, 0, 3px, #ccc);
		//width: 65%;
		background: #fff;
		text-align: center;
	}

	h4 {
		font-size: 1.2em;
		text-transform: uppercase;
	}

	@media (max-width: 600px) {
		// mobile styles
	}
}