include mixins

#about.container-full
  //- img.main-image(src="images/main.jpg", alt="JD and Katrina at Natural Bridges, CA")
  .main-image
  .container
    .main-about
      h2 About us
      p From the minute we met, something just clicked. We are so thankful that we found one another and have each other in our lives. When we get together, anything seems possible, fun will be had, and great memories will be made. We both love our friends and family a ton and are looking forward to taking a huge step towards our future, when we get married on October 18!
      +hRule('toast')
    .about-bride.col-md-6
      h2 Katrina Hassler
      +hRule('bride')
      p Let me tell you about Katrina Rachel Hassler - my best friend, and love of my life is one of the most important people I've ever met. She honestly makes me happier than I could explain to you in words. She keeps me grounded and modest, but at the same time makes me feel like I could accomplish anything, with her rooting for me in my corner. She is my partner in crime. When I was younger I used to wonder if and who I would ever meet that would make me feel like spending the rest of my life with them, but now I know exactly who she is. Katrina loves her family and friends so much, (more than they realize), and she would honestly do anything for them. She's hard-working and intelligent, but can also be the biggest goofball you've ever met. I consider myself such a lucky guy to be marrying such an amazing girl, and can't wait to see what life has in store for us. 
    .about-groom.col-md-6
      h2 JD Corr
      +hRule('groom')
      p JD smells nice and is ridiculously good looking. He's not bad at drums and makes websites for the internets.
      