include mixins

#about.container-full
  .main-image
  .container
    .main-about
      h2 About us
      p From the minute we met, something just clicked. We are so thankful that we found one another and have each other in our lives. Together anything seems possible, fun will be had, and great memories will be made. We both love our friends and family a ton and are looking forward to taking a big step towards our future, when we get married on October 18!
      +hRule('toast')
    .about-bride.col-md-6
      .row
        h2 Bride
        +hRule('bride')
        h5 Katrina Rachel Hassler
        p Let me tell you about Katrina Rachel Hassler. My best friend, and love of my life is one of the most important people I've ever met. She honestly makes me happier than I could explain to you in words. She keeps me grounded and modest, but at the same time she makes me feel like I could accomplish anything, with her rooting for me in my corner. She is my partner in crime. When I was younger I used to wonder if I would ever meet someone who would make me feel like spending the rest of my life with them. Now I know exactly who she is. Katrina loves her family and friends so much. She would honestly do anything for them. Katrina is hard-working and intelligent, but can also be the biggest goofball you've ever met. I consider myself such a lucky guy to be marrying such an amazing girl. I can't wait to see what life has in store for us. 
      .row  
        h3 Maid of Honor
        h5 Holly Howell
        h3 Bridesmaids
        h5 Melissa Hassler
        h5 Amanda Hassler
        h5 Monica Brock
        h5 Nicci Ferguson
        h3 Flowergirl
        h5 Avery Hassler
    .about-groom.col-md-6
      .row
        h2 Groom
        +hRule('groom')
        h5 Jeremiah David Corr
        p Jeremiah is the most patient, kind hearted, hard-working person I know. I feel blessed for each and every day I get to spend with him by my side. Each day with JD is full of optimism and laughter. He is always down to try one of my crazy ideas at least once. I can't wait for a future with my best friend by my side.
      .row
        h3 Best Man
        h5 Michael Zimmerman
        h3 Groomsmen
        h5 Dan Calpito
        h5 Derek Lee 
        h5 Sam Macapagal
        h5 James Robinson 
        h3 Ringbearer
        h5 Breydan Brock
      