.main-container
  div(ng-include='\'partials/navbar\'')
  section(ng-include='\'partials/about\'')
  section(ng-include='\'partials/photos\'')
  section(ng-include='\'partials/proposal\'')
  section(ng-include='\'partials/wedding\'')
  section(ng-include='\'partials/registry\'')
  section(ng-include='\'partials/rsvp\'')
  section(ng-include='\'partials/comments\'')