include mixins

#photos.container-full(ng-controller='PhotosCtrl')
  h2 Photos
  .slideshow-container
    a.paddle-left(ng-click="prevSlide()")
      span.glyphicon.glyphicon-chevron-left
    a.paddle-right(ng-click="nextSlide()")
      span.glyphicon.glyphicon-chevron-right
    .slideshow
      .slide(ng-repeat='item in slides', style='background-image:url("{{item.image}}")')
      
  +hRule('feather')