include mixins

#photos.container-full
  h2 Photos
  .slideshow-container.container-full
    .slideshow
      .slide
        img(src="images/slideshow/01.jpg")
      .slide
        img(src="images/slideshow/02.jpg")
      .slide
        img(src="images/slideshow/03.jpg")
      
  +hRule('feather')