include mixins

#photos.container
  h2 Photos
  .slideshow-container.full-width
    ul.slideshow
      li.slide
    a.paddle-left
      span.glyphicon.glyphicon-chevron-left
    a.paddle-right
      span.glyphicon.glyphicon-chevron-right
  +hRule('feather')