include mixins

#proposal.container
  h2 The Proposal
  p Lorem ipsum Aliquip magna sunt cillum consequat est ea cillum pariatur laboris est incididunt dolore aliquip eiusmod Ut dolor reprehenderit laboris reprehenderit exercitation reprehenderit laborum minim ut magna ut. Lorem ipsum Aliquip magna sunt cillum consequat est ea cillum pariatur laboris est incididunt dolore aliquip eiusmod Ut dolor reprehenderit laboris reprehenderit exercitation reprehenderit laborum minim ut magna ut.
  +hRule('toast')