include mixins

#proposal.container
  h2 The Proposal
  p. 
    While vacationing in Kauai last November, Katrina as usual had a million things planned. 
    One thing she did not count on was JD popping the question after a 8 mile hike that took them over a river, through mud and rain, 
    and to end at breathtaking waterfall.
    With 300 feet of casading water distracting Katrina, JD carefully got down on one knee to ask the BIG question.
    And the rest is...
    
  img.falls-image(src="images/falls.jpg" alt="Hanakapai Falls in Kauai")
  +hRule('toast')