include mixins

#proposal.container
  h2 The Proposal
  p. 
    While vacationing in Kauai last November, Katrina as usual had a million things planned. 
    One thing she did not count on was JD popping the question after a two hour hike over a river, through mud and rain, 
    and ending underneath a beautiful waterfall. 
    JD got down on one knee after Katrina briefly turned away, and as soon as she looked back, she got really excited and happy. 
  img.falls-image(src="images/falls.jpg" alt="Hanakapai Falls in Kauai")
  +hRule('toast')