include mixins

#registry.container
  h2 Registry
  p. 
    We certainly have quite a bit of stuff for our household between the two of us. Because of this, in lieu of registering for gifts, we ask that you consider donating to our furniture fund. We have 
    been in contact with Ana Furniture to put together a wishlist of items we would like to purchase. A new dinner table, coffee table, chairs, end tables and possibly a desk are all on the list. Believe us, it's really nice stuff - great looking and sturdy enough for Katrina to dance on. Donating is quick and straightforward (using Dwolla). You don't need an account, just enter the amount you'd like and use the checkout as guest feature. Thanks a lot! 
  <script src="https://www.dwolla.com/scripts/button.min.js" class="dwolla_button" type="text/javascript" data-key="picFQY4tmbbe1F9tqfgiWp+7M8Su73glb8AcOkRW51tN/KYDtA" data-redirect="http://www.jdandkatrina.com/thanks" data-label="Donate to our furniture fund" data-name="JD and Katrina Wedding Gift" data-description="Donation towards Wedding Gift Furniture" data-amount="50" data-guest-checkout="true" data-type="freetype"/></script>
  img.grid-image(src="images/registry_grid.jpg", alt="Ana Furniture")
  +hRule('toast')