include mixins

#registry.container
  h2 Registry
  p Lorem ipsum Ullamco et Excepteur sit ullamco incididunt deserunt dolor nisi eu sint dolore non nisi amet dolor est eiusmod fugiat nisi fugiat Duis pariatur commodo officia Excepteur elit nisi voluptate ex aute sit consequat id ut aliquip aliquip nostrud tempor irure sint enim ullamco magna esse in anim ut ea ut esse ex cillum fugiat culpa do consequat cillum deserunt ullamco reprehenderit Duis sit sit esse minim mollit laboris dolor dolor voluptate fugiat labore dolore tempor pariatur pariatur nulla aliquip adipisicing enim minim elit irure non ea esse aliqua labore commodo ad magna qui officia occaecat velit consequat in do nostrud cillum reprehenderit ut ullamco ex voluptate ea cupidatat aute do voluptate id culpa fugiat incididunt quis aute in elit occaecat culpa sed tempor non esse aute ea cupidatat Ut eu nisi minim sit ullamco irure dolore laborum minim reprehenderit officia ex irure mollit exercitation voluptate et in nulla culpa reprehenderit non.
  <script src="https://www.dwolla.com/scripts/button.min.js" class="dwolla_button" type="text/javascript" data-key="picFQY4tmbbe1F9tqfgiWp+7M8Su73glb8AcOkRW51tN/KYDtA" data-redirect="http://www.jdandkatrina.com/thanks" data-label="Donate to our furniture fund" data-name="JD and Katrina Wedding Gift" data-description="Donation towards Wedding Gift Furniture" data-amount="50" data-guest-checkout="true" data-type="freetype"/></script>
  img.grid-image(src="images/registry_grid.jpg", alt="Ana Furniture")
  +hRule('toast')