#rsvp.container
  h2 RSVP
  p To rsvp online, please begin by entering the rsvp code on your invitation. If you are unable to locate the code or have misplaced it, please 
    a(href='mailto:rsvp@jdandkatrina.com') contact us
    |.