#thanks.container-full
	.container
		h2 Thank You
		p. 
			Thanks to all our friends and family for their love and support. 
			We know it is a far distance for some to travel and we thank you in advance for taking the time.
		p We would like give a special thank you to our parents for their encouragement and financial support, 
			to Aaron Hindricks for being the best minister around, and Christine Deyto for your endless help!
		p Cheers to Happily Ever After....