include mixins

#wedding(ng-controller='WeddingCtrl').container-full
  .container
    h2 The Wedding
    p We are very much looking forward to sharing the big day with friends and family. If it ends anything our time together, it will be full of great times, laughs, and our loved ones. 
    .ceremony-info.col-md-6
      h2 Ceremony
      +hRule('wave')
      p A beachfront ceremony will take place promptly at 4:30pm on Asilomar State Beach. From Asilomar Conference Center, follow the path to the beach, cross the street and head to your right. Whether you are walking or driving, locate Mile Marker 3 and proceed down the path to the ceremony. 
    .reception.col-md-6
      h2 Reception
      +hRule('feather')
      p Immediately following the ceremony, there will be a reception at Merrill Hall located in the Asilomar Conference Center. 
        a(href="the map") View the Asilomar map
        |  for more info.
  .container-full
    google-map(center="map.center" zoom="map.zoom" draggable="true" options="map.options")
    h2 Accomodations
    .hotel-container 
      .hotel.asilomar
        h4 Asilomar Conference Center
        p. 
          It is best to book Asilomar online. 
          Rooms run from 155-210 a night depending in the view and number of beds. 
          They have a pool but no hot tub 
          Here are some other options within walking distance. 
        a.btn(href="https://reservations.ahlsmsworld.com/Asilomar/Plan-Your-Trip/Accommodation-Search/Result") More info
      .hotel.pacificgardeninns
        h4 Pacific Gardens Inn  
        p.  
          Pets are allowed at this location. This hotel offers a hot tub, but no pool.
          The rehearsal dinner will take place here for the wedding party and immediate family. 
          831-646-9414
        a.btn(href="https://reservations.ahlsmsworld.com/Asilomar/Plan-Your-Trip/Accommodation-Search/Result") More info
      .hotel.bestwestern
        h4 Howard Johnson Inn 
        p.
          $135 Th 
          $155 Friday-Sat 
          No Pool here 
        a.btn(href="https://reservations.ahlsmsworld.com/Asilomar/Plan-Your-Trip/Accommodation-Search/Result") More info
      .hotel.rosedaleinn
        h4 Rosedale Inn  
        p.  
          No pool 
          $140 Th 
          $200 Friday-Sat 
          For one bed 
          2 queens in $207 
          King Suite $225 
          These rates are with AAA I believe. 
          We have rooms saved here already.
          831-646-9414   
        a.btn(href="https://reservations.ahlsmsworld.com/Asilomar/Plan-Your-Trip/Accommodation-Search/Result") More info
      .hotel.deerhaveninn
        h4 Deer Haven Inn 
        p.
          No pool. 
          $120-145 Th 
          $125-155 Friday-Sat. 
          Prices vary between one king and 2 queens.
          831-373-7784   
        a.btn(href="https://reservations.ahlsmsworld.com/Asilomar/Plan-Your-Trip/Accommodation-Search/Result") More info

    //- add nearby hotels, driving directions, etc...
  +hRule('toast')