include mixins

#wedding(ng-controller='WeddingCtrl').container-full
  .container
    h2 The Wedding
    p We are very much looking forward to sharing our big day with friends and family. If it proves to be anything like our time together, it will be full of great times, laughs, and our loved ones. 
    p Beach Volleyball: Asilomar has a volleyball court just waiting for you on the beach. Bring your own volleyball or stop in the Park Store to borrow one of theirs. The court can be reserved through the Front Desk. Court usage is complimentary but a $5 refundable deposit is required for the use of the volleyball.
    p Biking: Trail riding or beach riding - why not do both?  If you don't have your own bike, Asilomar has bikes available for rent at the Park Store.
    p Golf: There are numerous golf courses - Pacific Grove is directly north of Pebble Beach.
    br
    h2 Bonfire
    p Please join us for smores and a bonfire on Friday evening at the Asilomar fire pit. Smores will be provided - no outside food or alcohol is permitted on the premises.
    br
    .ceremony-info.col-md-6
      h2 Ceremony
      +hRule('feather')
      p A beachfront ceremony will take place promptly at 4:30pm on Asilomar State Beach. From Asilomar Conference Center, follow the path to the beach, cross Sunset Drive and head to your right. Whether you are walking or driving, locate the signs for the Hassler/Corr wedding (at trail marker 3) and proceed down the path to the ceremony. 
    .reception.col-md-6
      h2 Reception
      +hRule('toast')
      p Immediately following the ceremony, a reception will take place just a short walk across the street and down the boardwalk that meanders through the 25 acres of restored sand dune ecosystem leading to Asilomar Conference Center. Please follow the path to Merrill Hall. There is limited street parking at the beach so it is suggested that you arrive early and park in Lot B near Merrill Hall. The walk to the beach is less than 10 minutes. The trail is very accessible and a beach wheelchair is available upon request.
        a(href="http://www.visitasilomar.com/media/21863/Asilomar%20Grounds%20Map%202014.pdf") View the Asilomar map
        |  for more info.
  .container-full
    google-map(center="map.center" zoom="map.zoom" draggable="true" options="map.options")
    h2 Accomodations
    .dark-container.container-full
      .container
        .row
          .hotel.asilomar.col-md-4
            .hotel-content
              h4 Asilomar Conference Center
              h5 800 Asilomar Ave, Pacific Grove, CA 93950
              h5 (831) 372-8016
              p.
                This is the location of the reception and across the street from the ceremony beach site.
                It is best to book Asilomar online. They have a heated pool but no hot tub and many other amenities like pool tables, a volleyball court, and bike rentals. No pets permitted at this location. 
              a.btn(href="http://www.visitasilomar.com") More info
          .hotel.pacificgardeninns.col-md-4
            .hotel-content
              h4 Pacific Gardens Inn
              h5 701 Asilomar Blvd, Pacific Grove, CA 93950
              h5 (831) 646-9414
              p.
                Located directly across the street from Asilomar Conference Grounds.
                Pets are permitted at this location. This hotel offers a hot tub, but no pool.
              a.btn(href="http://pacificgardensinn.com/") More info
          .hotel.bestwestern.col-md-4
            .hotel-content
              h4 Howard Johnson Inn
              h5 660 Dennett St, Pacific Grove, CA 93950
              h5 (831) 373-8777
              p.
                Located a quick .2 miles from Asilomar Conference Grounds.
                Pets are not permitted at this location.
              a.btn(href="http://www.montereyhojo.com/") More info
        .row
          .hotel.rosedaleinn.col-md-4
            .hotel-content
              h4 Rosedale Inn  
              h5 775 Asilomar Ave, Pacific Grove, CA 93950
              h5 (831) 655-1000
              p.  
                Located directly across the street from Asilomar Conference Grounds.
                There is an AAA discount available at this location.
                Pets are not permitted at this location.  
              a.btn(href="http://www.rosedaleinn.com/") More info
          .hotel.deerhaveninn.col-md-4
            .hotel-content
              h4 Deer Haven Inn 
              h5 (831) 373-7784
              p.
                Located an easy .1 miles away from Asilomar Conference Grounds.
                Pets are permitted at this location.  
              a.btn(href="http://www.deerhaveninn.com/") More info
          .hotel.camping.col-md-4
            .hotel-content
              h4 Camping
              p Please note: Asilomar State Beach does NOT have campground facilities. Motorhomes and campers are not allowed to park along the conference ground perimeter and will be cited.
              p. 
                Local campgrounds are located at: City of Monterey, Monterey County Parks, in addition to private campgrounds in Marina and Carmel Valley. The closest California State Park campground is located in Big Sur (45+ min drive).
              a.btn(href="http://http://www.parks.ca.gov/") More info
          .hotel.rv-facility.col-md-4.col-md-offset-4
            .hotel-content
              h4 RV Facility
              h5 2004 Fairground Rd, Monterey, CA 93940
              h5 (831) 372-5863
              p. 
                The closest location to hook-up a RV/motor home is Monterey County Fair and Event Center.
                Reservation can be made as early as July 17th, 2014.   
                This facility is located 7.7 miles from Asilomar Conference Grounds.
              a.btn(href="http://www.montereycountyfair.com/rv-park/online-reservations") More info    
  +hRule('toast')